/* reset and general styles */
* {
  margin: 0rem;
  padding: 0rem;
  outline: none;
  border: none;
  background-color: unset;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


.app {
  width: 80vw;
  max-width: 31.25rem;
  min-width: 21.875rem;
  margin: auto;
}


/* timer header styles */
.timer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.25rem;
  border-radius: 0.625rem;
  background-color: lightgray;
  margin-bottom: 1.25rem;
}
.timer-header h2 {
  display: flex;
  align-items: center;
  gap: 0rem 0.625rem;
  text-transform: capitalize;
}
h2 .stopwatch-icon {
  font-size: 1.625rem;
}
.timer-header > div {
  display: flex;
  align-items: center;
  gap: 0rem 0.625rem;
}
.timer-header > a {
  font-size: 1.375rem;
  padding: 0.625rem;
  display: flex;
  place-items: center;
  background-color: rgb(236, 236, 236);
  border-radius: 0.625rem;
}


/* countdown timer styles */
.timer {
  background-color: lightpink;
  border-radius: 0.625rem;
  padding: 2.1875rem 1.875rem;
  width: 100%;
}
.timer-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.125rem;
  width: 100%;
}
.colon-divider {
  font-size: 4rem;
  font-weight: bold;
}
.timer-input {
  display: flex;
  flex-direction: column;
  width: 31%;
}
.timer-input button {
  font-size: 1.5625rem;
}
.timer-input button > svg {
  fill: black;
}
.timer-input input {
  text-align: center;
  font-size: 3.125rem;
  font-weight: 700;
}
.action-buttons {
  display: flex;
  gap: 0.625rem 0.625rem;
  width: fit-content;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.action-buttons button {
  font-size: 1.125rem;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  padding: 0.625rem 1.125rem;
  background-color: black;
  color: white;
  border-radius: 0.625rem;
  gap: 0rem 0.625rem;
}


/* adding micro-interactions and ui-states for the timer-input buttons */
/* and action-buttons */
.timer-input button > svg:hover,
.timer-input button > svg.running {
  fill: rgb(107, 107, 107);
}
.timer-input button > svg.running {
  pointer-events: none;
}
.action-buttons button:hover {
  background-color: rgb(107, 107, 107);
}